<% include("../common/header_login.html",{title:"登录"}){} %>
<!-- main start -->
<div class="main_login">
	<div class="header_login">
		<div><a href="${ctxPath}/" class="text-align"><img src="${ctxPath}/static/image/logo_sm.png"></a></div>
		<h4 class="login_title">简单，好用的在线调查系统</h4>
    </div>
	<div class="login_layout">
	 <div class="stage">
	 	<h3 class="text-center">登录</h3>
	 	<form action="${ctxPath}/session/login/add" method="post"  id="login_form">
	 	<div class="input-group">
		  <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
		  <input type="email" name="email" id="email" class="form-control" placeholder="请输入注册邮箱" >
		</div>
	 	<div class="input-group">
		  <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span></span>
		  <input type="password" name="password" id="password" class="form-control" placeholder="请输入密码" >
		</div>
		
		  <button type="button" class="btn btn-success btn-lg btn-block" onclick="check()">登 录</button>
		  
		  <p class="pull-right">还不是我们的小伙伴了 <a href="register">马上注册</a> </p>
	 	</form>
	 </div>
	 
	 	<div class="text-center oauth row">
    		<h5 class="text-center">使用其他公众平台账号登录</h5>
			<div class="icon">
                    <a href="/login/with/sina" class="sina" title="新浪微博"></a>
                    <a href="/login/with/qqzone" class="qqzone" title="QQ"></a>
            </div>
		</div>
	</div>
</div>
<script type="text/javascript">
var email_flg = false;
var pwd_flg = false;
$("#email").blur(function(){
    var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
    var email = $(this).val();
    if(!reg.test(email)){
        layer.tips('邮箱格式不正确!', this);
    }else{
        email_flg = true;
    }
  });

$("#password").blur(function(){
    var reg = /^[a-zA-Z\w]{5,17}$/;
    var password = $(this).val();
    if(!reg.test(password)){
        layer.tips('密码格式不正确!', this);
    }else{
        pwd_flg = true;
    }
  });
  
  function check(){
      var success = pwd_flg && email_flg;
	if(success){
	    $.post(
				"${ctxPath}/session/login/add",
				$("#login_form").serialize(),
				function(data) {
					if(!data) {
					    layer.msg('登录出错，请重新登录', function(){
					      //关闭后的操作
					      });
					    return;
					} 
					//登录成功，跳转至系统首页
					location.href="${ctxPath}/home";
				}
			);
	}
  	
  }
</script>
<!-- main end -->
<% include("../common/footer_login.html"){} %>