<% include("../../common/header.html",{title:"问卷中心",active:4}){} %>
<!-- main start -->
<div class="surBox">
<!-- meanu start -->
<div class="survey_meanu">
	<div class="row">
	  <div class="col-lg-4">
	    <div class="input-group">
	    <a href="createView" class="btn  btn-primary"><i class="glyphicon glyphicon-plus"></i> 创建空白问卷</a>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  <div class="col-lg-6">
	  	<form action="list" method="post">
		    <div class="input-group">
		      <input type="text" class="form-control" name="title" value="${form.title}" placeholder="输入关键字搜索问卷..." style="width:305px;">
		      <select class="form-control" name="isOpen" style="width:105px;text-align:center;">
		      	  <option value="">问卷属性</option>
				  <option value="true" <% if(form.isOpen=="true") {%> selected <% } %>>公开</option>
				  <option value="false" <% if(form.isOpen=="false") {%> selected <% } %>>私密</option>
			  </select>
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="submmit"><i class="glyphicon glyphicon-search"></i></button>
		      </span>
		    </div><!-- /input-group -->
	    </form>
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

</div>
<!-- meanu end -->

<!-- list start -->
<div>
<div class="survey_list">
<% for(survey in pageInfo.list){ %>
	<div class="post_item">
		<h3>
        	<a href="details/${survey.id}" target="_blank">${survey.title}</a>
        </h3>
        <div class="post_item_foot">
	        <i class="glyphicon glyphicon glyphicon-calendar"></i>
	         <script type="text/javascript">
                    document.write(getLocalTime(${survey.createTime}));
             </script>
			&nbsp;&nbsp;题目数(${survey.queNum})
	        <span class="article_view"><a <% if(survey.isOpen) {%>href="summary/${survey.id}"<% } %> class="grayline" target="_blank"><i class="glyphicon glyphicon-eye-open"></i> 查看答卷(${survey.usehits})</a>&nbsp;&nbsp;<a href="details/${survey.id}" target="_blank"><i class="glyphicon glyphicon-edit"></i> 填写问卷</a></span> 
        </div>
	</div>
<%} elsefor{%>
<div style="font-size:20px;"><i class="glyphicon glyphicon-hand-up"></i> 还没有问卷....点击上方按钮创建</div>
<% } %>
<!-- 引入带查询参数的分页模板 start -->
<%include("../../common/page4search.html",{'parameter':[]}){}%>
<!-- 引入带查询参数的分页模板 end -->
</div>

<div class="top_new_list">
	<h2 class="right_topic_title">热门问卷排行榜</h2>
	<div class="widget_right_body">
		<% for(survey in topList){ %>
			<% if(surveyLP.index == 1 || surveyLP.index == 2 || surveyLP.index == 3){%>
			<span class="label label-danger">${surveyLP.index}</span>
			<% }else{%>
			<span class="label label-default">${surveyLP.index}</span>
			<% } %>
			<a href="details/${survey.id}" target="_blank">
				<% if( strutil.length(survey.title) > 20) {%>
					${strutil.subStringTo(survey.title,0,15)}...
				<% } else{%>
					${survey.title}
				<% } %>
				(${survey.hits})
			</a><br/>
		<%} elsefor{%>
			还没有问卷....
		<% } %>
	</div>
</div>
</div>
<!-- list end -->

</div>
<!-- main end -->
<% include("../../common/footer.html"){} %>