<html>
<body>
<div class="qaViewBox">
	<% for(qu in pageInfo) {%>
	<div class="singleQaBox">
		<div class="div_title_question"><b>${quLP.index}.</b>${qu.head}<span style="color:red;">&nbsp;*</span></div>
		<div class="div_table_question">
			<ul class="ulradiocheck">
			<% for(option in qu.options) {%>
				<% if(qu.type == "SINGLE"){%>
				<li><label><input type="radio" name="${qu.id}">　${option.content}</label></li>
				<%}if(qu.type == "MULTIPLE"){%>
				<li><label><input type="checkbox" name="${qu.id}">　${option.content}</label></li>
				<%}%>
			<%}%>
			</ul>
		</div>
	</div>
	<%}elsefor{%>
	还没有题目，快点击顶部菜单创建吧......
	<%}%>
</div>
</body>
</html>