<% include("../common/header.html",{active:0}){} %>
<!-- main start -->
<div class="main">
	<!-- banner start -->
	<div class="banner"></div>
	<!-- banner end -->
</div>
<!-- main end -->

<% include("../common/footer.html"){} %>