</div>
<!-- foot start -->
<footer>
<div class="bottom_row">
	<div class="bottom_logo">
		<img src="${ctxPath}/static/image/footer_trees.gif"  height="50"/>
	</div>
	<div class="contact_us">
	<div class="bb_title">联系我们</div>
	<ul>
		<li><a href="mailto:">邮箱：zscao@daervin.com</a></li>
		<li class="special1">电话：123-4567-8888</li>
		<li class="special1">Q&nbsp;Q：347158029 </li>
		<li class="special1">微信：oddubbo  </li>
	</ul>
	</div>
	<div class="weibo">
	<div class="bb_title">扫一扫加微信</div>
		<img src="${ctxPath}/static/image/wx.jpg"  height="110"/>
	</div>
	<div class="weichat">
	<div class="bb_title">扫一扫关注微博</div>
		<img src="${ctxPath}/static/image/wb.png" height="110"/>
	</div>
</div>
<div class="copyright"><div class="footerTrees">
2015 © Copyright  <a href="/" title="柒色都吧调查"> 柒色都吧调查</a>　版权所有 苏ICP备123456　|　<a href="http://www.daervin.com/" title="哒耳文">哒耳文强力驱动</a>　|　<a href="http://www.cnzz.com/stat/website.php?web_id=1253345539" target="_blank" title="站长统计">站长统计</a>
</div></div>
</footer>
<!-- foot end -->
</body>
</html>