<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="shortcut icon" href="${ctxPath}/static/image/favicon.ico" type="image/x-icon" />
<title>柒色都吧问卷-${title!"简洁，方便的在线调查系统"}</title>
<!-- Bootstrap 核心 CSS 文件 -->
<link href="${ctxPath}/static/bootstrop/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="${ctxPath}/static/js/jquery.min.js"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="${ctxPath}/static/bootstrop/js/bootstrap.min.js"></script>
<!-- layer 核心 JavaScript 文件 -->
<script src="${ctxPath}/static/layer/layer.js"></script>
<!-- 自定义样式 -->
<link  href="${ctxPath}/static/css/7dub_diy.css" rel="stylesheet">
<!-- 自定义js函数 -->
<script src="${ctxPath}/static/js/default.js"></script>
</head>
<body>
<header class="navbar navbar-default" role="navigation">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand logo-img" href="/index" ></a>
	</div>
	<nav class="header_r">
<div class="header_reg">
<ul>
<li style="position:relative">
<input type="text" style="color:#9a9a9a;" class="header_input" value="我要淘问卷" onblur="if(value==''){value='我要淘问卷'}" onfocus="if(value=='我要淘问卷'){value='';}" onkeydown="enter_click(event,'search_input');" id="search_input">
<a href="#" onclick="search_click('search_input');" class="header_go"></a>
<script type="text/javascript">
function enter_click(a, b) {
a = window.event || a;
if (a.keyCode == 13) {
search_click(b);
}
}
function search_click(a) {
var val = document.getElementById(a).value;
if (val == "我要淘问卷") val = "";
if (val) {
    window.location = "${ctxPath}/manager/list?title=" + encodeURIComponent(val);
} else {
	window.location.href = "${ctxPath}/manager/list";
}
}
</script>
</li>
<li>
<%if(user!=null){%>
<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
<a href="${ctxPath}/myself/index" title="${user.nickname}" style="color:#505C5C;">${user.email}</a>
<a href="${ctxPath}/session/logout" title="登出" style="color:#505C5C;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
</li>
<%}else{%>
<a href="${ctxPath}/session/register"><span style="cursor: pointer;" class="header_btn">
注册</span></a></li>
<li style="margin-right:0;"><a href="${ctxPath}/session/login" class="new_titxt" style="font-size: 14px;">登录</a></li>
<%}%>
</ul>
</div>
<!-- menu start -->
<div id="NMenu">
<ul>
<li id="liIndex" <% if(active == 0){%>class="acitve"<%}%>>
	<i></i><a href="${ctxPath}/home" class="indexnav">首&nbsp;&nbsp;&nbsp;&nbsp;页&nbsp;</a>
</li>
<li id="liQCenter" <% if(active == 1){%>class="acitve"<%}%>>
	<i></i><a href="${ctxPath}/myself/index" class="indexnav">我的空间</a>
</li>
<li id="liPrice" <% if(active == 2){%>class="acitve"<%}%>>
	<i></i><a href="${ctxPath}/" class="indexnav">趣味测评</a>
</li>
<li id="liUseCase" <% if(active == 3){%>class="acitve"<%}%>>
	<i></i><a href="${ctxPath}/service" class="indexnav">服务介绍</a>
</li>
<li id="liCustomer" style="border: 0; padding-right: 0;" <% if(active == 4){%>class="acitve"<%}%>>
	<i></i><a href="${ctxPath}/manager/list" class="indexnav">问卷中心</a>
</li>
</ul>
</div>
<!-- menu end -->
</nav>
</div>
</header>
<!-- clear bg start-->
<div class="clear_bg"></div>
<!-- clear bg end-->
<div style="background: #F5F5F5;">
