<!-- 分页按钮 start -->
<nav>
  <ul class="pager">
  		<li>
        <% if(pageInfo.hasPreviousPage) { %>
          	<a href="?pageNumber=${pageInfo.firstPage}<% for(par in parameter) { if(parLP.odd){ %>&${par}=<% } if(parLP.even){ %>${par}<% } }%>">首页</a>
        <% } else{ %>
        	<a>首页</a>
        <% } %>
        </li>
    
        <li>
        <% if(!pageInfo.hasPreviousPage) { %>
        	<a><i class="glyphicon glyphicon-arrow-left"></i></a>
        <% } else { %>
        	<a href="?pageNumber=${pageInfo.prePage}<% for(par in parameter) { if(parLP.odd){ %>&${par}=<% } if(parLP.even){ %>${par}<% } }%>"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <% } %>
        </li>
  
        <% for(i in pageInfo.navigatepageNums){ %>

          <% if(i==pageInfo.pageNum) { %>
              <li><a style="background:#337AB7;color:#fff">${i}</a></li>
            <% } else { %>
              <li><a href="?pageNumber=${i}<% for(par in parameter) { if(parLP.odd){ %>&${par}=<% } if(parLP.even){ %>${par}<% } }%>">${i}</a></li>
          <% } %>

        <% } %>
  
        <li>
        <% if(!pageInfo.hasNextPage) { %>
            <a><i class="glyphicon glyphicon-arrow-right"></i></a>
        <% } else { %>
            <a href="?pageNumber=${pageInfo.nextPage}<% for(par in parameter) { if(parLP.odd){ %>&${par}=<% } if(parLP.even){ %>${par}<% } }%>"><i class="glyphicon glyphicon-arrow-right"></i></a>
        <% } %>
        </li>

		<li>
        <% if(pageInfo.hasNextPage) { %>
            <a href="?pageNumber=${pageInfo.lastPage}<% for(par in parameter) { if(parLP.odd){ %>&${par}=<% } if(parLP.even){ %>${par}<% } }%>">末页</a>
        <% } else{ %>
        	<a>末页</a>
        <% } %>
        </li>

  </ul>
</nav>	
<!-- 分页按钮 end -->