<% include("../common/header.html",{title:'我的主页',active:1}){} %>
<!-- 主内容 start -->
<div class="three_menu">
<!-- 第一个圈 start -->
	<div class="circle circle_one">
	<p>　<span>昵称：</span>${user.nickname}</p>
	<p>　<span>邮箱：</span>${user.email}</p>
	<p>　<span>年龄：</span>${user.age}岁　　
	性别：<% if(user.gender=="SECRET"){%>保密<%}%><% if(user.gender=="MALE"){%>男<%}%><% if(user.gender=="FEMALE"){%>女<%}%></p>
	<p>　<span>地址：</span>${user.address!'地球村某嘎达某胡同888号'}</p>
	<p>　<span>介绍：</span>${user.intro!'这个人太懒了，介绍也没有......'}</p>
	<p><% if(user.isAdmin==true){ %>
	<a href="${ctxPath}/manager/admin/index"><button type="button" class="btn btn-info btn-xs">　进入管理界面　<i class="glyphicon glyphicon-cog"></i></button></a>
	<%}%>
	<button type="button" class="btn btn-info btn-xs" onclick="showEdit();">　编辑资料　<i class="glyphicon glyphicon-pencil"></i></button>
	</p>
	</div>
<!-- 第一个圈 end -->
<!-- 第二个圈 start -->
	<div class="circle circle_two">
	<br>
	<% for(survey in surveyPageInfo.list){%>
		<p>
		<a href="${ctxPath}/manager/details/${survey.id}" title="${survey.title}" target="_blank">
			<% if( strutil.length(survey.title) > 11) {%>
				${strutil.subStringTo(survey.title,0,11)}...
			<% } else{%>
				${survey.title}
			<% } %>
		</a> 
		<a href="${ctxPath}/manager/summary/${survey.id}" style="color:#DF1F74" target="_blank">查看统计</a>
		<a href="" style="color:#DF1F74">删除</a>
		</p>
	<% } elsefor{%>
		还没有属于自己的问卷呢......
	<% } %>
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="?pageNumber=${surveyPageInfo.prePage}&uid=${form.uid}"><span aria-hidden="true">&larr;</span> Older</a></li>
	    <li class="next"><a href="?pageNumber=${surveyPageInfo.nextPage}&uid=${form.uid}">Newer <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
	</div>
<!-- 第二个圈 end -->
<!-- 第三个圈 start -->
	<div class="circle circle_three">
	<br>
		<p><a href="">前世测试：你前世是怎样的人？</a> <a href="" style="color:#90BB50">查看结果</a></p>
		<p><a href="">测测你的闷骚指数有多少？</a> <a href="" style="color:#90BB50">查看结果</a></p>
		<p><a href="">从理发态度测测你的控制欲</a> <a href="" style="color:#90BB50">查看结果</a></p>
		<p><a href="">心理测试你的精神年龄有多大</a> <a href="" style="color:#90BB50">查看结果</a></p>
		<p><a href="">趣味测试：你的AQ够强吗</a> <a href="" style="color:#90BB50">查看结果</a></p>
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
	    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
	  </ul>
	</nav>
	</div>
<!-- 第三个圈 end -->
</div>
<script type="text/javascript">
function showEdit(){
    layer.open({
        type: 2,
        area: ['500px', '560px'],
        content: ['${ctxPath}/myself/editView', 'no']
    });
}
</script>

<!-- 主内容 start -->
<% include("../common/footer.html"){} %>