<% include("../common/header.html",{title:'服务介绍',active:3}){} %>
<!-- main start -->
<div class="Bf_wrap">
	<!-- banner start -->
	<div class="Bf-part5">
	    <div class="Bf-part-C part_t">
	        <h1 class="BF-Tr">
	            <img  width="435" height="40" title="问卷星后台数据自动分析统计" src="${ctxPath}/static//image/part5_c1.gif"><br>
	            <br>
	            <span class="Bf-TTx">图文并茂&nbsp;&nbsp;随心搭配</span></h1>
	        <p>
	            <img  width="922" height="433" title="数据图表涵盖表格、拆线图、柱状图、饼状图、条形图，可通过分类统计、交叉分析分析数据" src="${ctxPath}/static//image/part5_c2.gif"></p>
	    </div>
	</div>
	
	<div class="Bf-part6">
		<div class="Bf-part-C part_t">
		    <h1 class="BF-Tf">
		        <img src="${ctxPath}/static/image/part6_c1.gif" width="335" height="41" title="多种途径邀请填写人填写问卷" ></h1>
		    <div style="width: 940px; float: left;">
		        <div class="part6_c1">
		            <img src="${ctxPath}/static/image/part6_c1.jpg" width="483" height="558" title="通过邀请邮件及邀请短信功能发送问卷，可跟踪每个收件人的填写状态并自动重发" ></div>
		        <div class="part6_c2">
		            <img src="${ctxPath}/static/image/part6_c2.jpg" width="296" height="558" title="通过QQ、微博、微信或扫描二维码填写问卷" ></div>
		    </div>
		</div>
	</div>

	<!-- banner end -->

</div>
<!-- main end -->

<% include("../common/footer.html"){} %>