<% include("../../common/header.html",{title:'我的主页',active:1}){} %>
<!-- 主内容 start -->
<div class="admin_mainBox">
<% if(user.isAdmin == true){%>
<!-- left start -->
<div class="left">
	<ul class="list-group">
	　<li class="list-group-item" onclick="window.location.href='index';"><i class="glyphicon glyphicon-home"></i>　管理首页</li>
	  <li class="list-group-item" onclick="window.location.href='index';"><i class="glyphicon glyphicon-bookmark"></i>　站点资料</li>
	  <li class="list-group-item" onclick="$('#rightBox').load('userlist');"><i class="glyphicon glyphicon-user"></i>　用户列表</li>
	  <li class="list-group-item" onclick="$('#rightBox').load('surveylist');"><i class="glyphicon glyphicon-list"></i>　问卷列表</li>
	  <li class="list-group-item"><i class="glyphicon glyphicon-th"></i>　趣味测评列表</li>
	  <li class="list-group-item" onclick="window.location.href='${ctxPath}/session/logout';"><i class="glyphicon glyphicon-circle-arrow-right"></i>　退出系统</li>
	</ul>
</div>
<!-- left end -->
<!-- right start -->
<div class="right" id="rightBox">
		<table class="table table-bordered">
	      <thead>
	        <tr>
	          <th>名称</th>
	          <th>内容</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>本站名称</td>
	          <td>柒色都吧问卷调查网（survey.daervin.com）</td>
	        </tr>
	         <tr>
	          <td>本站介绍</td>
	          <td>柒色都吧问卷调查网:简洁，方便的在线调查系统</td>
	        </tr>
	         <tr>
	          <td>联系邮箱</td>
	          <td>347158029@qq.com</td>
	        </tr>
	         <tr>
	          <td>联系电话</td>
	          <td>12345679999</td>
	        </tr>
	        <tr>
	          <td>联系QQ</td>
	          <td>347158029</td>
	        </tr>
	        <tr>
	          <td>微信账号</td>
	          <td>oddubbo </td>
	        </tr>
	      </tbody>
	    </table>

</div>
<!-- right end -->
<script type="text/javascript">
</script>
<%} else{%>
<div style="text-align:center;font-size:20px;">您不是管理员！</div>
<%}%>
</div>
<!-- 主内容 start -->
<% include("../../common/footer.html"){} %>