<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>问卷标题</th>
      <th>发布者</th>
      <th>是否公开</th>
      <th>浏览数</th>
      <th>答卷数</th>
      <th>题目数</th>
    </tr>
  </thead>
  <tbody>
  <% for(survey in pageInfo){%>
    <tr>
      <th scope="row">${surveyLP.index}</th>
      <td>${survey.title}</td>
      <td>${survey.author}</td>
      <td>${survey.isOpen}</td>
      <td>${survey.hits}</td>
       <td>${survey.usehits}</td>
        <td>${survey.queNum}</td>
    </tr>
 <% } %>
  </tbody>
</table>
