<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>昵称</th>
      <th>性别</th>
      <th>超级管理员</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% for(user in pageInfo){%>
    <tr>
      <th scope="row">${userLP.index}</th>
      <td>${user.email}</td>
      <td>${user.nickname}</td>
      <td>${user.gender}</td>
      <td>${user.isAdmin}</td>
      <td><button type="button" class="btn btn-default btn-xs" onclick="disable('${user.id}');">　禁 用　</button></td>
    </tr>
 <% } %>
  </tbody>
<script type="text/javascript">
function disable(id){
    $.post(
			"${ctxPath}/manager/admin/deleteuser/" + id,
			function(data) {
			    if(!data) {
			        layer.msg('操作失败！');
			        return;
    			}
			    layer.msg('操作成功！');
			    $('#rightBox').load('userlist'); 
			},
	    	"json"
		);
}
</script>
</table>
